<div class="product">
    <div class="productText">
        Produkt
    </div>
    <tr>
        <td>Nazwa: </td>
        <td><input type="text" #nameInput></td>
    </tr>
    <tr>
        <td>Opis: </td>
        <td><input type="text" #descriptionInput></td>
    </tr>
    <tr>
        <td>Cena: </td>
        <td><input type="text" #costInput></td>
    </tr>
    <tr>
        <td>Zdjęcie: </td>
        <td><input type="text" #photoInput></td>
    </tr>
    <tr>
        <td>Dział: </td>
        <td>
            <select [(ngModel)]="choosenCategory">
                <option *ngFor="let category of categories" [value]="category.numerDzialu">{{category.numerDzialu}}# {{category.nazwa}}</option>
            </select>
        </td>
    </tr>

</div>
<input type="button" (click)="validate()" value="Dodaj produkt">
<div *ngIf="done">Dodano</div>