<div class = "loginWindow">
    <div class="rightSide">
        <div class="product">
            <div class="productText">Produkt</div>

            <div class="itemCateg">NAZWA</div>
            <input type="text" #nameInput>

            <div class="itemCateg">OPIS</div>
            <input type="text" #descriptionInput>

            <div class="itemCateg">CENA</div>
            <input type="text" #costInput>

            <div class="itemCateg">ZDJĘCIE</div>
            <input type="text" #photoInput>

            <div class="itemCateg">DZIAŁ</div>
            <select [(ngModel)]="choosenCategory">
                <option *ngFor="let category of categories" [value]="category.numerDzialu">
                    {{category.numerDzialu}}# {{category.nazwa}}
                </option>
            </select>

            <div>
                <input type="button" (click)="validate()" value="Dodaj produkt" class = "button">
                <div *ngIf="done">Dodano</div>
            </div>

        </div>
    </div>
</div>
