<div class="loginWindow">
    <div class="rightSide">
        <form (submit)="login()" action="#">
            <div class="itemCateg">LOGIN</div>
            <input class="input" #loginInput type="text" placeholder=''>
            <div class="itemCateg">HASŁO</div>
            <input class="input" #passInput type="password" placeholder=''>
            <div>
                <input type="submit" (click)="login()" id="loginBtn" value="Zaloguj"/>
                <a routerLink="/register" routerLinkActive="active" class="buttonRouter">Załóż konto</a>
                <div class="wrongData">Niepoprawne dane</div>
            </div>
        </form>
    </div>

</div>