<div class="item">
    <div class="image"><img src="{{item.zdjecieProduktu}}"></div>
    <div class="scale"></div>

    <div class="description">
        <div class="head">
            O PRODUKCIE
        </div>
        <span>
            {{item.opis}}
        </span>
    </div>
    <div class="clear"></div>

    <div class="rightSide">
        <div class="itemCateg">Numer produktu</div>
        <div class="itemName">- {{item.idProduktu}} -</div>
        <div class="itemCateg">Nazwa</div>
        <div class="itemName"><span>{{item.nazwa}}</span></div>
    </div>

    <div class="buy">
        <div class="price">Cena za sztukę {{item.cena}}zł</div>
        <input type="number" *ngIf="loggedUser" min="1" value="1" #itemNumberInput>
        <input type="button" *ngIf="loggedUser" value="Dodaj do koszyka" (click)="addToOrder()">
    </div>
    <div class="clear"></div>
</div>
<div class="added" *ngIf="addedToOrder">Dodano do zamówienia</div>

<!--  MOBILE --> 

<div class="item-mobile">
    <div class="rightSide">
        <div class="itemCateg">Numer produktu</div>
        <div class="itemName">- {{item.idProduktu}} -</div>
        <div class="itemCateg">Nazwa</div>
        <div class="itemName"><span>{{item.nazwa}}</span></div>
    </div>

    <div class="clear"></div>

    <div class="image"><img src="{{item.zdjecieProduktu}}"></div>

    <div class="buy">
        <div class="price">Cena za sztukę {{item.cena}}zł</div>
        <input type="number" min="1" value="1">
        <input type="button" value="Dodaj">
    </div>

    <div class="clear"></div>

    <div class="description">
        <div class="head">
            O PRODUKCIE
        </div>
        <span>
            {{item.opis}}
        </span>
    </div>

    <div class="clear"></div>

</div>