@import '~@angular/material/theming';

.shop{
    background-color:rgb(204, 226, 162);
    //height: 90%;
}
#leftSide{
    display: inline;
    float: left;
    width: 20%;
    height:max-content;
    background-color: darkorange;
}
#mainSide{
    display: inline;
    float: left;
    width: 100%;
    height:max-content;
    background-color:rgb(47, 50, 58,0.8);
}
.item{
    width: 23%;
    height: 31vh;
    margin: 1%;
    background-color:rgb(255,174,192,0.9);
    text-align: center;
    float: left;
    padding-bottom: 2.5vh;
    line-height: 3.5vh;
    text-decoration: none;
    border-radius: 5%;
    .itemName{
        text-transform: uppercase;
        color:rgb(47, 50, 58,0.9);
        font-weight: 600;
        padding-right: 1vw;
        padding-left: 1vw;
        transition: 0.5s all;
    }
}

.item:hover{
    opacity: 0.9;
}

.choosenCategory{
    height: 35px;
    background-color:rgb(47, 50, 58,0.7);
    text-align: center;
    padding-top: 10px;
    color: #f25287;
    font-weight: 600;
    border-bottom: 2px rgb(47, 50, 58,1) solid;
    font-size: 22px;
    //display: none;
}
.category{
    margin: 3%;
    padding: 5%;
    background-color:gray;
    display: block;
}
.imageOfItem{
    background-size:cover;
    height: 75%;
    margin: 3%;
    @include mat-elevation(10);
    border: solid 1px black;
    border-radius: 3%;
    img{
        height: 100%;
        width: 100%;
        border-radius: 3%;
    }
}
.class1{
    color: aqua;
}

@media only screen and (max-width: 500px) {
    .item{
        width: 45%;
        height: 32vh;
        margin: 1%;
        padding-bottom: 2.5vh;
        line-height: 3.5vh;
        .itemName{
            text-transform: uppercase;
            color:rgb(47, 50, 58,0.9);
            font-weight: 600;
            padding-right: 1vw;
            padding-left: 1vw;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .item{
        width: 48%;
        height: 32vh;
        margin: 1%;
        padding-bottom: 4vh;
        line-height: 3.5vh;
        .itemName{
            text-transform: uppercase;
            color:rgb(47, 50, 58,0.9);
            font-weight: 600;
            padding-right: 1vw;
            padding-left: 1vw;
        }
    }
}

@media only screen and (max-width: 500px) {
    .item{
        width: 48%;
        height: 32vh;
        margin: 1%;
        padding-bottom: 5vh;
        line-height: 3.5vh;
        .itemName{
            text-transform: uppercase;
            color:rgb(47, 50, 58,0.9);
            font-weight: 600;
            padding-right: 1vw;
            padding-left: 1vw;
        }
    }
}

@media only screen and (max-width: 400px) {
    .item{
        width: 48%;
        height: 30vh;
        margin: 1%;
        padding-bottom: 7vh;
        line-height: 3.5vh;
        .itemName{
            text-transform: uppercase;
            color:rgb(47, 50, 58,0.9);
            font-weight: 600;
            padding-right: 1vw;
            padding-left: 1vw;
        }
    }
}